*
{
    margin: 0px;
    padding: 0px;
}
header
{
position: fixed;
top: 0%;
width: 100%;
height: 50px;
display: flex;
justify-content:space-between ;
align-self: center;
z-index: 1;
}

.Navigation
{
    background-color:  #33cc33 ;
    height: 50px;
    width: 100%;
    padding-left: 0px;
    padding-top: 12px;
    

}
.Navigation a
{
position: relative;
font-size: 26px;
color: #f4efef; 
text-decoration: none;
box-sizing: border-box;
font-weight: 500;
margin-left: 50px;
}
.Navigation a::after
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  color:  #ff8533  ;
  background-color: #eadede;
  box-sizing: border-box;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s; 
}
.search
{
  border: 2px solid #ff6600;
  box-sizing: border-box;
  height: 33px;
  margin-left: 250px;
  text-align: center;
  margin-top: 5px;
  font-size: 21px;
  border-radius: 13px;
  background: blur(30px);
}

.home
{
  padding-left: 180px;
}
.Navigation a:hover:after
{
  transform-origin: left;
  transform: scaleX(1);
}
.Navigation a:hover
{
color:  #ff6600;

}

